.content {
    padding: $page-padding;
    .page-content {
        position: relative;
        margin-top: 100px;
        font-size: 3rem;
        z-index: 2;
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            .select {
                border: 2px solid $sidebar-color;
                width: 40vw;
                border-radius: 20px;
                position: relative;
                margin-bottom: 10px;
                @include phone {
                    width: 80vw;
                    border: 2px solid $nav-link-bg;
                }
                &:hover {
                    :nth-child(2){
                        color: $nav-link-bg;
                    }
                }
                .far {
                    color: $sidebar-color;
                    position: absolute;
                    margin-left: 5px;
                    left: 0;
                    top: 25%;
                    z-index: -1;
                }
                select {
                    color: $add-del-text-color;
                    padding: 5px 50px;
                    width: 100%;
                    min-width: 500px;
                    outline: none;
                    background: none;
                    -webkit-appearance: none;
                    background-image: none;
                    border: none;
                    box-shadow: none;
                }
            }
            .movie-label {
                color: $sidebar-color;
                .movie-input {
                    background-color: inherit;
                    border-style: none;
                    outline: none;
                    border-bottom: 2px solid $sidebar-color;
                    color: inherit;
                    padding-left: 10px;
                    transition: 1s ease;
                    @include phone {
                        border-bottom: 2px solid $nav-link-bg;
                    }
                    &:focus {
                        caret-color: $nav-link-bg;
                        border-bottom: 2px solid $nav-link-bg;
                        border-radius: 7px;
                        transition: 1s ease;
                    }
                }
            }
            .movie-button {
                border-radius: 10px;
                background-color: $sidebar-color;
                border-style: none;
                color: $add-del-text-color;
                width: 50%;
                transition: 2s ease;
                @include phone {
                    background-color: $nav-link-bg;
                }
                &:hover {
                    background-color: $nav-link-bg;
                    transition: .3s ease;
                }
            }
        }   
    }   
}