@mixin movie {
    padding: 10px 10px;
    width: 60%;
    display: flex;
    background-color: $game-element;
    color: $content-bg;
    justify-content: center;
    margin: 5px 0px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    @include phone {
        width: 80%;
    }
}
@mixin icon {
    position: absolute;
    right: 0;
    margin-right: 5px;
    font-size: 1.5rem;
}

.movies-game {
    width: 100%;
    height: 100%;
    display: grid;
    // align-items: baseline;
    color: $sidebar-color;
    padding: $page-padding;
    grid-template-columns: [card-s] 2fr [card-e user-s] 2fr [user-e];
    grid-template-rows: [header-s] 15% [header-e game-s] 80% [game-e];
    @include modal;
    @include phone {
        grid-template-rows: [header-s] 20% [header-e game-s] 80% [game-e];
        height: 100vh;
    }
    .header {
        color: $game-header-color;
        grid-column: card-s/user-e;
        grid-row: header-s/header-e;
        text-align: center;
        background-color: $game-header-bg-color;
        border-radius: 10px;
        padding: 16px;
    }
    .cards-container {
        grid-column: card-s/card-e;
        grid-row: game-s/game-e;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $game-header-color;
        height: 100%;
        .cards-container-heading {
            margin-top: 30px;
            background-color: $game-header-bg-color;
            padding: 10px 20px;
            border-radius: 10px;
        }
        .movie {
            @include movie;
            p {
                margin: 0;
            }
            .far {
              @include icon;
            }
        }
        .moved {
            background-color: $checked-off;
            color: $bg-letter-color;
            // text-decoration: line-through;
        }
    }
    .user-list-container {
        padding: 20px 0px;
        width: 100%;
        height: 100%;
        border: 10px solid $game-container-border;
        color: $game-header-color;
        background-color: $container-bg-color;
        border-radius: 15px;
        grid-column: user-s/user-e;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-rows: [list-s] 90%[list-e button-s] 10% [button-e];
        @include phone {
            height: 80%;
        }
        .user-list {
            height: 100%;
            width: 100%;
            grid-row: list-s/list-e;
            display: flex;
            flex-direction: column;
            align-items: center;
            .dropper {
                font-size: 3rem;
            }
        }
        .sorted {
           @include movie;
            p {
                margin: 0;
            }
            .far {
                @include icon;
                top: 25%;
            }
        }
        .buttons {
            grid-row: button-s/button-e;
            width: 100%;
            display: flex;
            justify-content: space-around;
            @include phone {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                align-items: center;
                :nth-child(1) {
                    border: none;
                }
                :nth-child(3) {
                    border: none;
                }
            }
            button {
                width: 30%;
                border-radius: 10px;
                border-style: none;
                outline: none;
                border: 2px solid $button-border-color;
                background-color: $button-bg-color;
                color: $sidebar-color;
                transition: .3s ease;
                @include phone {
                    border: none;
                    border-radius: 0px;
                    border-right: 1px solid;
                    border-left: 1px solid;
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    background-color: $sidebar-color;
                    border-radius: 10px;
                    color: $content-bg;
                    transform: scale(1.03) translateY(-2px);
                    transition: .3s ease;
                    @include phone {
                        transform: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}