@import 'variables';
@import 'sidebar';
@import 'showall';
@import 'game';
@import 'homepage';
@import 'addDelete';

html {
    font-size: 70%; // 1rem is 10px
    overflow: hidden;
}

.app {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-items: center;
    overflow:hidden;
    .content-wrapper {
        background-color: $content-bg;
        border-left: 10px solid $nav-link-bg;
        width: 100%;
        padding: 25px;
        // position: relative;
        .content {
            display: flex;
            @include modal;
            .bg-text {
                position: absolute;
                font-size: 10rem;
                color: $bg-letter-color;
                font-family: 'Kanit', sans-serif;
                font-weight: 700;
                letter-spacing: 40px;
                z-index: 1;
                writing-mode: vertical-rl;
                right: 0;
                top: 5%;

            }
       
            
        }
    }
}
