@keyframes blinker {
    0% {
        opacity: .1;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}


.content-showall {
    display: flex;
    justify-content: center;
    .waiting {
        font-size: 5rem;
        font-style: italic;
        color: white;
    }
    .empty-list {
        font-size: 3rem;
    }
    .dotOne {
        animation: blinker 1s ease 0s infinite;
    }
    .dotTwo {
        animation: blinker 1s ease .2s infinite;
    }
    .dotThree {
        animation: blinker 1s ease .4s infinite;
    }
}

.movies-container {
    display: grid;
    grid-gap: 20px 40px;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: $page-padding;
    @include phone {
        grid-template-columns: repeat(2, 1fr);
    }
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 1.1rem;
        text-align: center;
        align-items: center;
        background-color: $movie-card-color;
        color: $content-bg;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.61);
        p {
            margin: 0px;
        }
        .stats {
            color: $movie-stats-color;
            font-weight: 700;
        }
    }

    }