//Colors
//Homepage
$app-heading-text-color: #f8f9fa;
$content-bg: #FFFFFF;
$home-circles: #1d587c;
$circle-bg: #f8f9fa;
$circle-text: #be785e;

//Sidebar
$sidebar-link-bg: #be785e;
$show-hide-color: #020102;
$bg-letter-color: #FFFFFF;
$sidebar-bg-color: #f8f9fa;
$sidebar-link-text-color: #FFFFFF;

//Modal
$modal-bg: #FFFFFF;

//Game Colors
$checked-off: #5883b4;
$game-element: #f8f9fa;
$movie-game-text-color: #be785e;
$movie-game-text-color-moved: #f8f9fa;
$button-bg-color: #1d587c;
$button-border-color: #f8f9fa;
$game-container-border: #1d587c;
$game-header-color: #be785e;
$game-header-bg-color: #f8f9fa;
$container-bg-color: #f8f9fa;
$button-color: #f8f9fa;

//Add Delete
$add-del-text-color: #f8f9fa;
$movie-button-color: #020102;
$select-border-color: #f8f9fa;

//Display Movies
$movie-stats-color: #020102;
$movie-card-color: #f8f9fa;
$movie-text-color: #be785e;



//Other Styles
$page-padding: 25px;


@mixin phone {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin modal {
    .results-modal-hidden {
        display: none;
    }
    .results-modal-show {
        display: grid;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #3131317a;
        z-index: 10;
        .inner-modal {
            display: grid;
            justify-content: center;
            align-content: center;
            padding: 20px;
            text-align: center;
            width: 50%;
            height: 50%;
            background-color: $sidebar-link-bg;
            color: $modal-bg;
            position: relative;
            border-radius: 20px;
            top: 25%;
            left: 25%;
            div {
                font-size: 3rem;
            }
            .close {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10px;
                padding-top: 10px;
            }
        }
    }
}
